<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="ML">
	<locations>
		<location path="${eclipse_home}" type="Profile"/>
		<location includeDependencyDepth="direct" includeDependencyScopes="compile,provided,runtime,test,system,import" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.ibm.wala</groupId>
					<artifactId>com.ibm.wala.cast</artifactId>
					<version>1.6.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.ibm.wala</groupId>
					<artifactId>com.ibm.wala.core</artifactId>
					<version>1.6.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.ibm.wala</groupId>
					<artifactId>com.ibm.wala.shrike</artifactId>
					<version>1.6.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.ibm.wala</groupId>
					<artifactId>com.ibm.wala.util</artifactId>
					<version>1.6.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
	<environment>
		<arch>x86_64</arch>
		<os>linux</os>
		<ws>gtk</ws>
		<nl>en_US</nl>
	</environment>
	<launcherArgs>
		<vmArgs>-Declipse.p2.max.threads=10 -Doomph.update.url=https://download.eclipse.org/oomph/updates/milestone/latest -Doomph.redirection.index.redirection=index:/-&gt;http://git.eclipse.org/c/oomph/org.eclipse.oomph.git/plain/setups/ -Dosgi.requiredJavaVersion=17 -Dosgi.instance.area.default=@user.home/eclipse-workspace -Dosgi.dataAreaRequiresExplicitInit=true -Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true -Dsun.java.command=Eclipse -XX:+UseG1GC -XX:+UseStringDeduplication --add-modules=ALL-SYSTEM -Dosgi.requiredJavaVersion=11 -Dosgi.dataAreaRequiresExplicitInit=true -Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true -Xms256m -Xmx2048m --add-modules=ALL-SYSTEM</vmArgs>
	</launcherArgs>
</target>